# Data Analysis of "Value for money" flats

Name: Bryan Lim Heng Yi

Admin Number: P2204314

Diploma: Diploma in Computer Engineering

Class: DCPE/FT/2B/21

Module Class: EL/03

# Imports (Libraries)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors as mc
from tabulate import tabulate

# Data Sets

In [14]:
# genfromtext used to read csv file

# Resale Flat Prices from year 2017 onwards [https://data.gov.sg/dataset/resale-flat-prices]
resale_price = "resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv"
data_sale = np.genfromtxt(resale_price,dtype=['datetime64[D]','U15','U9','U4','U20','U20',int,'U20',int,'U50',int],
                      delimiter=',', names=True, missing_values=['na'],filling_values=0)
print(tabulate(data_sale[:5],headers=data_sale.dtype.names),"\n")

# Median Rent by Town and Flat Type [https://data.gov.sg/dataset/median-rent-by-town-and-flat-type]
rental_price = "median-rent-by-town-and-flat-type.csv"
data_rent = np.genfromtxt(rental_price,dtype=['U7', 'U20', 'U5', int],
                      delimiter=',',names=True, missing_values=['na', '-'], filling_values=0)
print(tabulate(data_rent[:5],headers=data_rent.dtype.names),"\n")

# HDB Property Information [https://data.gov.sg/dataset/hdb-property-information]
info = "hdb-property-information.csv"
data_info = np.genfromtxt(info,dtype=['U4','U50',int,int,'U1','U1','U1','U1','U1','U1','U3',int,int,int,int,int,int,int,int,int,int,int,int,int],
                          delimiter=',',names=True, missing_values=['na'],filling_values=0) 
print(tabulate(data_info[:5],headers=data_info.dtype.names),"\n")

month       town        flat_type      block  street_name        storey_range      floor_area_sqm  flat_model        lease_commence_date  remaining_lease       resale_price
----------  ----------  -----------  -------  -----------------  --------------  ----------------  --------------  ---------------------  ------------------  --------------
2017-01-01  ANG MO KIO  2 ROOM           406  ANG MO KIO AVE 10  10 TO 12                      44  Improved                         1979  61 years 04 months          232000
2017-01-01  ANG MO KIO  3 ROOM           108  ANG MO KIO AVE 4   01 TO 03                      67  New Generation                   1978  60 years 07 months          250000
2017-01-01  ANG MO KIO  3 ROOM           602  ANG MO KIO AVE 5   01 TO 03                      67  New Generation                   1980  62 years 05 months          262000
2017-01-01  ANG MO KIO  3 ROOM           465  ANG MO KIO AVE 10  04 TO 06                      68  New Generation                   1980  62 years 01 month           265000
2017-01-01  ANG MO KIO  3 ROOM           601  ANG MO KIO AVE 5   01 TO 03                      67  New Generation                   1980  62 years 05 months          265000

quarter    town        flat_type      median_rent
---------  ----------  -----------  -------------
2005-Q2    ANG MO KIO  1-RM                     0
2005-Q2    ANG MO KIO  2-RM                     0
2005-Q2    ANG MO KIO  3-RM                   800
2005-Q2    ANG MO KIO  4-RM                   950
2005-Q2    ANG MO KIO  5-RM                     0

  blk_no  street               max_floor_lvl    year_completed  residential    commercial    market_hawker    miscellaneous    multistorey_carpark    precinct_pavilion    bldg_contract_town      total_dwelling_units    1room_sold    2room_sold    3room_sold    4room_sold    5room_sold    exec_sold    multigen_sold    studio_apartment_sold    1room_rental    2room_rental    3room_rental    other_room_rental
--------  -----------------  ---------------  ----------------  -------------  ------------  ---------------  ---------------  ---------------------  -------------------  --------------------  ----------------------  ------------  ------------  ------------  ------------  ------------  -----------  ---------------  -----------------------  --------------  --------------  --------------  -------------------
       1  BEACH RD                        16              1970  Y              Y             N                N                N                      N                    KWN                                      142             0             1           138             1             2            0                0                        0               0               0               0                    0
       1  BEDOK STH AVE 1                 14              1975  Y              N             N                Y                N                      N                    BD                                       206             0             0           204             0             2            0                0                        0               0               0               0                    0
       1  CANTONMENT RD                    2              2010  N              Y             N                N                N                      N                    CT                                         0             0             0             0             0             0            0                0                        0               0               0               0                    0
       1  CHAI CHEE RD                    15              1982  Y              N             N                N                N                      N                    BD                                       102             0             0             0            10            92            0                0                        0               0               0               0                    0
       1  CHANGI VILLAGE RD                4              1975  Y              Y             N                N                N                      N                    PRC                                       55             0             0            54             0             1            0                0                        0               0               0               0                    0

# Dictionary for Data

In [ ]:
# Dictionary for town for data_info
town = {
    "AMK" : "Ang Mo Kio",
    "BB" : "Bukit Batok",
    "BD" : "Bedok",
    "BH" : "Bishan",
    "BM" : "Bukit Merah",
    "BP" : "Bukit Panjang",
    "BT" : "Bukit Timah",
    "CCK" : "Choa Chu Kang",
    "CL" : "Clementi",
    "CT" : "Central Area",
    "GL" : "Geylang",
    "HG" : "Hougang",
    "JE" : "Jurong East",
    "JW" : "Jurong West",
    "KWN" : "Kallang/Whampoa",
    "MP" : "Marine Parade",
    "PG" : "Punggol",
    "PRC" : "Pasir Ris",
    "QT" : "Queenstown",
    "SB" : "Sembawang",
    "SGN" : "Serangoon",
    "SK" : "Sengkang",
    "TAP" : "Tampines",
    "TG" : "Tengah",
    "TP" : "Toa Payoh",
    "WL" : "Woodlands",
    "YS" : "Yishun", 
}

# Analysis: Dataset 1 [Resale Price]

In [19]:
print(f"There are {len(data_sale)} rows and {len(data_sale[0])} columns in this dataset.\n")
print(f"The names of the data are {data_sale.dtype.names}\n")
print(f"This dataset spans {len(np.unique(data_sale['month']))} over 7 years.\n")

There are 154511 rows and 11 columns in this dataset.

The names of the data are ('month', 'town', 'flat_type', 'block', 'street_name', 'storey_range', 'floor_area_sqm', 'flat_model', 'lease_commence_date', 'remaining_lease', 'resale_price')

This dataset spans 77 over 7 years.