# Task 2A

In [3]:
import pandas as pd
import numpy as np
ser = pd.Series([1.0,3.0,5.0,np.nan,6.0,8.0])
print(ser)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

# Task 2B

In [4]:
import pandas as pd
import numpy as np
ser = pd.Series([1.0,3.0,5.0,np.nan,6.0,8.0], index=['a','b','c','d','e','f'])
print(ser)

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

# Task 2C

In [6]:
import pandas as pd

dic = {
    "Indonesia" : "Melati Putih",
    "Malaysia" : "Hibiscus rosa-sinensis",
    "Philippines" : "Sampaguita",
    "Singapore" : "Vanda Miss Joaquim" 
}

ser = pd.Series(dic.values(), index=dic.keys())
print(ser)

Indonesia                Melati Putih
Malaysia       Hibiscus rosa-sinensis
Philippines                Sampaguita
Singapore          Vanda Miss Joaquim
dtype: object

# Task 2D

In [8]:
import pandas as pd

ser = pd.Series(pd.date_range('2017-10-01','2017-10-15',freq='D'),range(1,16))
print(ser)

1    2017-10-01
2    2017-10-02
3    2017-10-03
4    2017-10-04
5    2017-10-05
6    2017-10-06
7    2017-10-07
8    2017-10-08
9    2017-10-09
10   2017-10-10
11   2017-10-11
12   2017-10-12
13   2017-10-13
14   2017-10-14
15   2017-10-15
dtype: datetime64[ns]

# Task 3A

In [10]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(100,200,(5,5)))
print(df)

     0    1    2    3    4
0  199  173  136  158  106
1  150  132  135  150  191
2  185  166  164  192  187
3  129  144  160  190  133
4  166  165  100  160  144

# Task 3B

In [11]:
import pandas as pd
import numpy as np

row = ['Game 1', 'Game 2', 'Game 3', 'Game 4', 'Game 5']
column = ['Team 1', 'Team 2', 'Team 3', 'Team 4', 'Team 5']

df = pd.DataFrame(np.random.randint(100,200,(5,5)), index=row, columns=column)
print(df)

        Team 1  Team 2  Team 3  Team 4  Team 5
Game 1     191     111     125     120     125
Game 2     194     148     189     167     163
Game 3     182     133     152     127     199
Game 4     197     126     129     181     162
Game 5     188     105     178     171     151

# Task 3C

In [18]:
import pandas as pd

uni_graduates = {
2010:{'Females':6300,'Males':6496}, 2011:{'Females':7281,'Males':6428},
2012:{'Females':7114,'Males':6736}, 2013:{'Females':8170,'Males':7785},
2014:{'Females':7620,'Males':7756}
}

df = pd.DataFrame(uni_graduates, columns=uni_graduates.keys())
print(df)

         2010  2011  2012  2013  2014
Females  6300  7281  7114  8170  7620
Males    6496  6428  6736  7785  7756

# Task 3D

In [22]:
import pandas as pd

nus_median_gross_pay_2013to2015 = {
'BA' : [3000,3000,3000],
'BA (Honours)' : [3200,3520,3800],
'BA (Accountancy)' : [2700,2838,2850],
'BA (Accountancy) (Honours)' : [2800,2912,3000]
}

df = pd.DataFrame(nus_median_gross_pay_2013to2015, columns=nus_median_gross_pay_2013to2015.keys(), index=['2013', '2014', '2015'])
print(df)

        BA  BA (Honours)  BA (Accountancy)  BA (Accountancy) (Honours)
2013  3000          3200              2700                        2800
2014  3000          3520              2838                        2912
2015  3000          3800              2850                        3000

# Task 3E

In [26]:
import pandas as pd

jan = pd.date_range('20170101', periods=31)
mar = pd.date_range('20170301', periods=31)
may = pd.date_range('20170501', periods=31)
jul = pd.date_range('20170701', periods=31)
aug = pd.date_range('20170801', periods=31)
oct = pd.date_range('20171001', periods=31)
dec = pd.date_range('20171201', periods=31)
months = {'Jan':jan, 'Mar':mar, 'May':may, 'Jul':jul, 'Aug':aug, 'Oct':oct, 'Dec':dec}

df = pd.DataFrame(months)
print(df)

          Jan        Mar        May        Jul        Aug        Oct  \
0  2017-01-01 2017-03-01 2017-05-01 2017-07-01 2017-08-01 2017-10-01
1  2017-01-02 2017-03-02 2017-05-02 2017-07-02 2017-08-02 2017-10-02
2  2017-01-03 2017-03-03 2017-05-03 2017-07-03 2017-08-03 2017-10-03
3  2017-01-04 2017-03-04 2017-05-04 2017-07-04 2017-08-04 2017-10-04
4  2017-01-05 2017-03-05 2017-05-05 2017-07-05 2017-08-05 2017-10-05
5  2017-01-06 2017-03-06 2017-05-06 2017-07-06 2017-08-06 2017-10-06
6  2017-01-07 2017-03-07 2017-05-07 2017-07-07 2017-08-07 2017-10-07
7  2017-01-08 2017-03-08 2017-05-08 2017-07-08 2017-08-08 2017-10-08
8  2017-01-09 2017-03-09 2017-05-09 2017-07-09 2017-08-09 2017-10-09
9  2017-01-10 2017-03-10 2017-05-10 2017-07-10 2017-08-10 2017-10-10
10 2017-01-11 2017-03-11 2017-05-11 2017-07-11 2017-08-11 2017-10-11
11 2017-01-12 2017-03-12 2017-05-12 2017-07-12 2017-08-12 2017-10-12
12 2017-01-13 2017-03-13 2017-05-13 2017-07-13 2017-08-13 2017-10-13
13 2017-01-14 2017-03-14 2017-05-14 2017-07-14 2017-08-14 2017-10-14
14 2017-01-15 2017-03-15 2017-05-15 2017-07-15 2017-08-15 2017-10-15
15 2017-01-16 2017-03-16 2017-05-16 2017-07-16 2017-08-16 2017-10-16
16 2017-01-17 2017-03-17 2017-05-17 2017-07-17 2017-08-17 2017-10-17
17 2017-01-18 2017-03-18 2017-05-18 2017-07-18 2017-08-18 2017-10-18
18 2017-01-19 2017-03-19 2017-05-19 2017-07-19 2017-08-19 2017-10-19
19 2017-01-20 2017-03-20 2017-05-20 2017-07-20 2017-08-20 2017-10-20
20 2017-01-21 2017-03-21 2017-05-21 2017-07-21 2017-08-21 2017-10-21
21 2017-01-22 2017-03-22 2017-05-22 2017-07-22 2017-08-22 2017-10-22
22 2017-01-23 2017-03-23 2017-05-23 2017-07-23 2017-08-23 2017-10-23
23 2017-01-24 2017-03-24 2017-05-24 2017-07-24 2017-08-24 2017-10-24
24 2017-01-25 2017-03-25 2017-05-25 2017-07-25 2017-08-25 2017-10-25
25 2017-01-26 2017-03-26 2017-05-26 2017-07-26 2017-08-26 2017-10-26
26 2017-01-27 2017-03-27 2017-05-27 2017-07-27 2017-08-27 2017-10-27
27 2017-01-28 2017-03-28 2017-05-28 2017-07-28 2017-08-28 2017-10-28
28 2017-01-29 2017-03-29 2017-05-29 2017-07-29 2017-08-29 2017-10-29
29 2017-01-30 2017-03-30 2017-05-30 2017-07-30 2017-08-30 2017-10-30
30 2017-01-31 2017-03-31 2017-05-31 2017-07-31 2017-08-31 2017-10-31

          Dec
0  2017-12-01
1  2017-12-02
2  2017-12-03
3  2017-12-04
4  2017-12-05
5  2017-12-06
6  2017-12-07
7  2017-12-08
8  2017-12-09
9  2017-12-10
10 2017-12-11
11 2017-12-12
12 2017-12-13
13 2017-12-14
14 2017-12-15
15 2017-12-16
16 2017-12-17
17 2017-12-18
18 2017-12-19
19 2017-12-20
20 2017-12-21
21 2017-12-22
22 2017-12-23
23 2017-12-24
24 2017-12-25
25 2017-12-26
26 2017-12-27
27 2017-12-28
28 2017-12-29
29 2017-12-30
30 2017-12-31

In [28]:
import numpy as np
import pandas as pd

npArray = np.random.randn(6,4)

df = pd.DataFrame(npArray,columns=['A', 'B', 'C', 'D'], index=pd.date_range('2013-01-01','2013-01-06'))
print(df)

                   A         B         C         D
2013-01-01 -0.170233 -1.560734 -1.535000 -1.522033
2013-01-02  0.905917 -0.631030 -1.155660 -0.223446
2013-01-03  1.158559  1.564653  0.192320 -1.335834
2013-01-04  0.889499  0.455987  0.376146 -0.679220
2013-01-05  1.713979 -0.845252  0.285845 -0.063955
2013-01-06  0.716182  0.294536 -0.922050  1.162889